[pull]
	ff = only
[user]
	name = Per Turner

[alias]
	reset-to = "!f() { git fetch origin && git checkout -B \"$1\" origin/master; }; f"
[core]
	pager = delta
	editor = nvim
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	line-numbers = true
	navigate = true
[include]
	path = ~/.gitconfig_identity
	path = ~/.gitconfig_private
